.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    width: 90%;
    margin: 0 auto;
    
}
body{
    background-image: url(clorox.jpeg);
    background-color: rgba(255,255,255,0.6);
    background-blend-mode: lighten;

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-size: 100% 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;

}
.video{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
header{
    display: flex;
    padding: 1rem;
    background-color: rgb(91, 174, 241);
    color: #fff;
    margin-bottom: 2rem;
    text-align: center;

}
h1{
    width: 100%;

    text-align: center;
}
ul{
    display: flex;
    gap: 1rem;
    list-style-type: none;
}
